[build]
run = ["npm", "run", "build"]

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-22_11"

[env]
NODE_ENV = "production"

[packager]
language = "nodejs-npm"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mjs,*.cjs}"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[debugger]
support = true

[debugger.interactive]
transport = "localhost:0"
startCommand = ["dap-node"]

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.launchMessage]
command = "launch"
type = "request"
program = "./backend/index.js"
console = "externalTerminal"
args = []
cwd = "."
runtimeExecutable = "npm"
runtimeArgs = ["run", "start:backend"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[unitTest]
language = "nodejs"